src/main/resources/validation/address.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="address">
        <xsd:all>
            <xsd:element name="city" type="xsd:string" minOccurs="0" />
            <xsd:element name="country" type="xsd:string" minOccurs="0"/>
            <xsd:element name="addressLine1" type="xsd:string" minOccurs="0" />
            <xsd:element name="addressLine2" type="xsd:string" minOccurs="0" />
            <xsd:element name="zipCode" type="xsd:string" minOccurs="0" />
        </xsd:all>
    </xsd:complexType>
</xsd:schema>