src/main/resources/validation/user.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.epam.com/aa/sportplace/user"
        xmlns:tns="http://www.epam.com/aa/sportplace/user">

    <element name="user">
        <complexType>
            <sequence>
                <element name="firstName" type="tns:stringMaxLength256">
                </element>
            </sequence>
        </complexType>
    </element>
    <simpleType name="stringMaxLength256">
        <restriction base="string">
            <length value="256" />
        </restriction>
    </simpleType>

</schema>